.main {
    width: 100%;
    max-width: 2000px;
    padding-top: 16px;
    background-color: #FFFFFF;
    padding-bottom: 110px;
}

.page-name {
    text-align: center;
    font-size: 32px;
}

.tabs {
    margin: 66px auto;
    display: flex;
    max-width: 1140px;
    justify-content: space-between;
}

.tabs>.active {
    text-decoration: underline solid #00A7E0;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    font-weight: 500;
}

.groups-title {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    margin: 66px 0 42px;
}

.table-container {
    justify-content: center;
    display: flex;
    gap: 100px;
    margin-bottom: 90px;
}

.table {
    width: 200px;
    background-color: #f0f4ff;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.group-name-title {
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}

.table-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.table-row:last-child {
    border-bottom: none;
}

.table-row .team {
    flex-grow: 1;
}

.table-row .score {
    font-weight: bold;
}

.round {
    margin-bottom: 20px;
}

.match {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.teams-match {
    border: 1px solid black;
    height: 50px;
    min-width: 10rem;
    max-width: calc(100% / 8);
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.upper-team{
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.down-team{
    flex: 1;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.team-name{
    margin: 0;
    padding-left: 2px;
    padding-right: 10px;
}

.team-score{
    margin: 0;
    padding-left: 2px;
}
