@import "reset.css";

:root{
    --white-color: #F9FAFF;
    --light-blue-color: #00BEFF;
    --red-color: #FF5E59;
    --black-color: #232323;
    --blue-color: #008FC0;
}

body{
    font-family: "Roboto", system-ui;
    font-size: 16px;
    font-weight: normal;
    background-color: #F9FAFF;
}

.logo{
    display: flex;
    margin-left: 22px;
}

.logo__text{
    width: 120px;
    margin-top: 15px;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}

.nav-main-container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    gap: 60px;
}

.navigation-menu{
    width: 100px;
    margin-top: 78px;
    text-align: center;
    font-weight: 600;
}

.navigation-list__item:not(:first-child){
    margin-top: 60px;
}

.main{
    width: 100%;
    max-width: 2000px;
    height: calc(100vh - 250px);
    padding-top: 16px;
    padding-left: 100px;
    background-color: #FFFFFF;
}

.page-name{
    text-align: center;
    font-size: 32px;
}

.tournament-form{
    background-color: #000000;
    opacity: 0.5;
    padding: 5px 0 5px 30px;
    width: 350px;
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    height: 34px;
    margin-left: auto;
}

table {
    width: 100%;
}

th, td {
    border: 0;
    padding: 40px;
    text-align: center;
}

tr td:nth-child(3){
    width: 200px;
    text-align: left;
    padding-left: 60px;
}

select{
    font-weight: 500;
    text-align: center;
}

option{
    background-color: #808080;
}

option:hover{ 
    color: #EDF0FF;
    background-color: #000000;
}

tr td button{
    border-radius: 50px;
    background-color: #232323;
    color: #FFFFFF;
    padding: 15px 23px;
}

.helper{
    width: 100px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35px;
}

.footer__list{
    display: flex;
    max-width: 780px;
    justify-content: space-between;
    margin: 0 auto;
}

.footer__list__element{
    font-weight: 500;
}