.section {
    margin: 0 64px 64px;
    border: 1px solid #E8E9ED;
    border-radius: 16px;
    padding: 32px;
  }
  
  .section.collapsed {
    height: auto;
  }
  
  .filtersHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
  }
  
  .filtersTitle {
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  
  .hideFilters {
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    color: #1054DE;
    font-size: 16px;
    cursor: pointer;
  }
  
  .filtersContent {
    display: flex;
    justify-content: space-between;
  }
  
  .filterGroup {
    width: 176px;
  }
  
  .filterTitle {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 32px;
  }
  
  .filterOptions {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .filterOption {
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
  }
  
  .radioInput {
    position: absolute;
    opacity: 0;
  }
  
  .customRadio {
    width: 24px;
    height: 24px;
    border: 1px solid #1054DE;
    border-radius: 8px;
    position: relative;
  }
  
  .radioInput:checked + .customRadio::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    left: 4px;
    top: 4px;
    background: #1054DE;
    border-radius: 4px;
  }
  
  .filterLabel {
    font-weight: 400;
    font-size: 16px;
  }
  
  .dateFilter {
    width: 267px;
  }
  
  .dateRange {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 32px;
  }
  
  .dateInput {
    width: 100%;
    height: 46px;
    padding: 14px 24px;
    background: #F1F2F4;
    border-radius: 8px;
    border: none;
    font-size: 16px;
  }
  
  .filterActions {
    display: flex;
    gap: 16px;
  }
  
  .filterBtn {
    padding: 14px 24px;
    height: 46px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
  }
  
  .resetBtn {
    background: #F1F2F4;
    border: none;
  }
  
  .applyBtn {
    background: #1054DE;
    color: #FFFFFF;
    border: none;
  }